button{
    margin-right: 1em;
}

.custom-color{
    color: black;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: grey;
  }
  /* Font color */
  input.mat-input-element {
    color: grey;
  }