
<!-- MUA: app-menu is outside <router-outlet> because we want to show it for every page. -->
<app-menu></app-menu>

<!-- <input type="text" (input)="title = $event.target.value"/> -->

<!-- <div>
    <input type="text" (input)="title = $any($event.target).value"/>
</div>

<div>
    <input type="checkbox" checked (change)="display = !display" /> Display
</div>

<app-life-cycle-test *ngIf="display" [title]="title"></app-life-cycle-test> -->


<!-- MUA : Uncomment to watch the star ratting -->
<!-- <app-rating (onRating)="handleRating($event)"></app-rating> -->

<!-- <h2>Book for angular</h2> -->

<div class="container">
    
    <router-outlet></router-outlet>

</div>

<!-- MUA: Below code is just extra code -- Can be deleted -- Only here for learning perspective! -->

<!-- <p>Hello, This is coming from App Component.html file.</p>
<span class="content">angular-books app is running!</span>

<div>
    {{title}}
</div>

<div>
    Sum of 2 + 2 always belong to {{2+2}}
</div>

<div>
    Double of 10 is {{doubleNumber(10)}}
</div> -->