<app-generic-list [list]="books">  

    <!-- MUA: Passing another content a different content using container -->
    <!-- <ng-container loading> 
            This is loading...
    </ng-container>  -->

    <!-- MUA: Passing another content a different content using container -->
    <!-- <ng-container empty> 
            This is empty different message...
    </ng-container> -->

    <ng-container content>
        <div *ngFor="let book of books; let index = index" class="book-container">
            <div>{{index}} {{book.title | uppercase}}
                <button style="margin-left: 1rem;" (click)="remove(index)">Delete</button>
            </div>
            <div>{{book.releaseDate | date}}</div>
            <div>{{book.price | currency}}</div>
            <br>
        </div>
    </ng-container>

</app-generic-list>



